@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-Regular.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-SemiBold.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-ExtraBold.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-ExtraBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-Italic.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-ExtraLight.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-LightItalic.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-Bold.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-ExtraBoldItalic.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-ExtraBoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-ExtraLightItalic.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-ExtraLightItalic.woff") format("woff");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-Medium.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-MediumItalic.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-ThinItalic.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-ThinItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-SemiBoldItalic.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-SemiBoldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-Light.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-Thin.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-Black.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-BoldItalic.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Argentum Sans";
	src: url("/assets/fonts/argentum-sans/ArgentumSans-BlackItalic.woff2") format("woff2"),
		url("/assets/fonts/argentum-sans/ArgentumSans-BlackItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: url("/assets/fonts/onest/Onest-Medium.woff2") format("woff2"),
		url("/assets/fonts/onest/Onest-Medium.woff") format("woff"),
		url("/assets/fonts/onest/Onest-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: url("/assets/fonts/onest/Onest-ExtraBold.woff2") format("woff2"),
		url("/assets/fonts/onest/Onest-ExtraBold.woff") format("woff"),
		url("/assets/fonts/onest/Onest-ExtraBold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: url("/assets/fonts/onest/Onest-Regular.woff2") format("woff2"),
		url("/assets/fonts/onest/Onest-Regular.woff") format("woff"),
		url("/assets/fonts/onest/Onest-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: url("/assets/fonts/onest/Onest-Bold.woff2") format("woff2"),
		url("/assets/fonts/onest/Onest-Bold.woff") format("woff"),
		url("/assets/fonts/onest/Onest-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: url("/assets/fonts/onest/Onest-Black.woff2") format("woff2"),
		url("/assets/fonts/onest/Onest-Black.woff") format("woff"),
		url("/assets/fonts/onest/Onest-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: url("/assets/fonts/onest/Onest-Light.woff2") format("woff2"),
		url("/assets/fonts/onest/Onest-Light.woff") format("woff"),
		url("/assets/fonts/onest/Onest-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Onest";
	src: url("/assets/fonts/onest/Onest-Thin.woff2") format("woff2"),
		url("/assets/fonts/onest/Onest-Thin.woff") format("woff"),
		url("/assets/fonts/onest/Onest-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
